body{
    background-image: url("images/trump-emeralds.jpg");
    
}

.gametitle{
    background-color: #4d79ff;
    padding: 20px;
    width: auto;
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-size: 40px;
    opacity: .7;
    font-weight: bolder;
}

#rules{
    background-color: #cc33ff;
    margin: 0px 180px;
    padding: 10px;

}

#rules p{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

#goal-number{
    background-color: #00b386;
    height: 100px;
    margin: 20px 180px;
    font-size: 30px;
    font-weight: bolder;
}

#my-total{
    background-color: #00b386;
    height: 100px;
    margin: 20px 180px;
    font-size: 30px;
    font-weight: bolder;
}

#wl-box{
    background-color: #00b386;
    height: 100px;
    margin: 20px 180px;
    font-size: 30px;
}

.img-back{
    background-color: #00b386;
    height: 100px;
    margin: 20px 180px;

}

.img-back img{
    width: 80px;
    padding: 20px;
    position: relative;
    left: 350px;
}